@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  .blaugrana_gradient{
    @apply bg-gradient-to-r from-[#ED1B24]  to-[#0071BD] bg-clip-text text-transparent;
  }

  .blaugrana_gradient_bg{
    @apply bg-gradient-to-r from-[#ED1B24]  to-[#0071BD] ;
  }